
/* Custom color scheme */

[data-md-color-scheme="slate"] {
  --md-hue: 232; /* [0, 360] */
  --md-primary-fg-color: #FFAA00; /*WLED Orange*/
  /*--md-primary-fg-color: #7289DA; /*Blurple*/
  --md-primary-fg-color--light: #555;
  --md-primary-fg-color--dark:  #999;
  --md-default-fg-color:           hsla(var(--md-hue),75%,95%,1); /*text*/
  --md-default-fg-color--light:    hsla(var(--md-hue),10%,95%,0.7); /*heading*/
  --md-default-fg-color--lighter:  hsla(var(--md-hue),75%,90%,0.32); /*edit pen*/
  --md-default-fg-color--lightest: hsla(var(--md-hue),75%,90%,0.12); /*?*/
  --md-default-bg-color: #2c2f33; /* discord */
  
  --ac-header-color: #222222;
}

.md-tabs {
  background-color: var(--ac-header-color, var(--md-primary-fg-color));
}

.md-header {
  background-color: var(--ac-header-color, var(--md-primary-fg-color));
}